Realms of Iznia/Library/guidmapper
Realms of Iznia/Library/metadata/00/00000000000000004000000000000000
Sherlock/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Sherlock/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Sherlock/Library/metadata/00/00000000000000009000000000000000